@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.productWindow {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 100%;

  @include tablet-desktop {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem;
    width: 43%;
    flex-direction: row;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;

    @include tablet-desktop {
      display: flex;
      flex-direction: column;
      border-right: 1px solid $teal;
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    background-color: $blue;
    height: 10rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;

    @include tablet-desktop {
      display: flex;
      background-color: $blue;
      height: 10rem;
      width: 10rem;
      margin: 0;
    }
  }

  &__name {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 1rem;
    color: $red;
    @include subHeader;

    @include tablet-desktop {
      display: block;
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 1rem;
    color: $orange;
    @include bodyCopy;
    @include tablet-desktop {
      display: block;
    }
  }
}
