@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.checkout {
  padding: 2rem;
  @include subHeader;
  color: $navy;

  &__container {
    border-radius: 1rem;
  }

  // font-mono text-white
  // text-opacity-70 font-[700] text-opacity-90 h-screen flex justify-center items-center"

  //   bg-white rounded-md p-12 bg-opacity-70
}
