@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.cart {
  padding: 1rem;
  min-height: 100vh;

  &__title {
    @include pageHeader;
    color: $red;
    background: linear-gradient(
        to left,
        $red,
        $orange,
        $peach,
        $yellow,
        $green,
        $teal,
        $blue,
        $navy
      )
      left bottom no-repeat;
    background-size: 100% 5px;
  }

  &__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 3px solid $peach;
  }

  &__subtitle-header {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    color: $red;
  }
  &__subtitle {
    width: 15%;
    @include subHeader;
    &--first {
      width: 55%;
    }
  }

  &__text-header {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    border-top: 1px solid $peach;
    padding: 1rem 0;
  }

  &__text {
    width: 15%;
    color: $orange;
    &--first {
      width: 55%;
      color: $orange;
    }
  }
}
