@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.productWindow {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 100%;

  @include tablet-desktop {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
    width: -webkit-fill-available;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @include tablet-desktop {
      display: flex;
      flex-direction: column;
      // border-right: 1px solid $teal;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  &__container:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;

    @include tablet-desktop {
      display: flex;
      flex-direction: column;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  &__link {
    text-decoration: none;
  }
  &__button {
    background-color: transparent;
    border: none;
    padding-top: 1rem;
  }
}
