@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.wishlistProductCard {
  padding: 1rem;
  text-decoration: none;

  &__image {
    display: flex;
    justify-content: center;
    background-color: $blue;
    height: 10rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;

    @include tablet-desktop {
      display: flex;
      background-color: $blue;
      height: 12rem;
      width: 12rem;
      margin: 0;
    }
  }

  &__name {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 1rem;
    color: $red;
    @include subHeader;

    @include tablet-desktop {
      display: block;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }
  &__button-heart {
    height: 2rem;
    width: 2rem;
    fill: $blue;
  }
  &__button-heart:hover {
    height: 2rem;
    width: 2rem;
    fill: $red;
    cursor: pointer;
  }
  &__price {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 1rem;
    color: $orange;
    @include bodyCopy;
    @include tablet-desktop {
      display: block;
    }
  }
}
