//breakpoints of different screensizes
@mixin tablet {
    @media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

//text styling
@mixin pageHeader {
    @include fontBold;
    font-size: 1.5rem;
    line-height: 2rem;

    @include tablet {
        @include fontBold;
        font-size: 2.125rem;
        line-height: 2.75rem;
    }

    @include desktop {
        @include fontBold;
        font-size: 2.125rem;
        line-height: 2.75rem;
    }
}

@mixin sectionHeader {
    @include fontDemi;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

@mixin subHeader {
    @include fontDemi;
    font-size: 0.813rem;
    line-height: 1.125rem;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    @include desktop {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

@mixin bodyCopy {
    @include fontRegular;
    font-size: 0.813rem;
    line-height: 1.125rem;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    @include desktop {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@mixin labelsButtons {
    @include fontBold;
    font-size: 0.625rem;
    line-height: 1.25rem;

    @include tablet {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    @include desktop {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}