$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$red: #ef3f28ff; // secondary text
$orange: #f46a39ff; //Divider line. Form field outline
$peach: #fca770ff; //Form field background
$yellow: #f6d7a8ff;
$green: #6fada0ff;
$teal: #008c9bff;
$blue: #027093ff;
$navy: #112750ff; //primary text
