@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.hero {
  &__image {
    background-color: $yellow;
    height: 10rem;
    width: 100%;
    @include tablet-desktop {
      height: 20rem;
    }
  }
}
