$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primaryOne: #323232; //primary text
$primaryTwo: #0095FF; //primary CTA, active form field outline color
$primaryThree: #AFAFAF; //secondary text. text label 
$primaryFour: #FFFFFF; //background. CTA text color

$secondaryOne: #000000; //video player components
$secondaryTwo: #0065AD; //CTA hover state

$cinnabar: #EF3F28ff; // secondary text
$giants-orange: #F46A39ff; //Divider line. Form field outline
$sandy-brown: #FCA770ff; //Form field background
$sunset: #F6D7A8ff;
$cambridge-blue: #6FADA0ff;
$blue-munsell: #008C9Bff;
$cerulean: #027093ff;
$space-cadet: #112750ff; //primary text