@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.faq {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $navy;
  min-height: 33rem;

  @include tablet-desktop {
    flex-direction: row;
  }
  &__image {
    background-color: $orange;
    border-radius: 1rem;
    width: 15rem;
    max-height: 26.7rem;
  }
  &__container-right {
    width: auto;
    display: block;
    width: 50%;
    padding: 1rem;
  }

  &__container-left {
    display: flex;
    justify-content: center;
  }

  &__title {
    @include pageHeader;
    background: linear-gradient(
        to left,
        $red,
        $orange,
        $peach,
        $yellow,
        $green,
        $teal,
        $blue,
        $navy
      )
      left bottom no-repeat;
    background-size: 100% 5px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $teal;
  }

  &__subtitle {
    display: flex;
    color: $blue;
    &--icon:hover {
      color: $orange;
      cursor: pointer;
    }
  }

  &__text {
    color: $navy;
    display: block;
  }
}

.hide {
  display: none;
}
